<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Di/etc/di.xsd">
    <type name="Magento\Customer\Ui\Component\Listing\CustomerGrid">
        <arguments>
            <argument name="grid" xsi:type="object">Thao\CustomerApproval\Ui\Component\Listing\CustomerGrid</argument>
        </arguments>
    </type>
</config>
