<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer_approval" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer Approval</label>
            <tab>thao</tab>
            <resource>Thao_CustomerApproval::customerApproval_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="is_send_email_customer" translate="label" type="select" sortOrder="3" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Send Approval Email to Customer</label>
                    <comment>Enable to send an email notification to the customer upon approval.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="email_template" translate="label" type="select" sortOrder="4" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Approval Email Template</label>
                    <comment>Select the email template to be sent when a customer is approved.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="rejection_email_template" translate="label" type="select" sortOrder="5" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Rejection Email Template</label>
                    <comment>Select the email template to be sent when a customer is rejected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
